/* This CSS file will hold all css related to page layout through classes, 
    and any changes made to them, or base elements, through media queries.
    All code before media queries is stylized with a viewport width of 300px in mind. */

:root {
    --TitleSize: 7vw;
    --IconSize: 6vw;
    --SubSize: ;
    --TextSize: ;
}

/* Navbar */

.navBar{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 4fr 1fr;
    box-sizing: border-box;
    width: 100%;
    padding: 2vw 5vw;
    align-items: center;
    text-align: center;
    grid-template-areas:  
        'reload title portfolio';
}

.myName {
    grid-area: reload;
    font-size: var(--IconSize);
}

.titleDiv {
    grid-area: title;
    display: grid;
    grid-gap: 10px;
    width: 100%;
    font-size: var(--TitleSize);
}

.exitToPortfolio {
    grid-area: portfolio;
    font-size: var(--IconSize);
}

/* Game Screen */

.main-screen{ }

/* Header */

.gameHead {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-areas:  
        'wins   billboard   losses';
    box-sizing: border-box;
    width: 100%;
    padding-top: 3vw;
}

.winsDiv {
    grid-area: wins;
    display: grid;
    grid-gap: 10px;
    width: 100%;
}

.gameSubTitle {
    grid-area: billboard;
    display: grid;
    grid-gap: 10px;
    width: 100%;
    margin: 0;
}

.win-loss-div {
    grid-area: billboard;
    display: grid;
    grid-gap: 10px;
    width: 100%;
}

.lossesDiv {
    grid-area: losses;
    display: grid;
    grid-gap: 10px;
    width: 100%;
}

/* Intro Screen */

.intro-screen{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    padding-top: 3vw;
}

.instructionTitle{
}

.instructionText{
}

.playForm{
    display: grid;
    grid-template-columns: 1fr 1fr auto 1fr;
    grid-gap: 10px;
    grid-template-areas:  
    '.  nameInput   submit   .';
    box-sizing: border-box;
    width: 100%;
    padding-top: 3vw;
}

.playerNameInput{
    grid-area: nameInput;
    display: grid;
    justify-self: center;
    text-align: left;
}

.pNameBtn{
    grid-area: submit;
    display: grid;
    text-align: center;
}


/* Ready Screen */

.ready-screen{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-template-areas:  
    '.  readyTitle  readyTitle  .'
    '.  readyText   readyBtn   .';
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    padding-top: 3vw;
}

.readyTitle{
    grid-area: readyTitle;
}

.readyText{
    grid-area: readyText;
}

.readyForm{
    grid-area: readyBtn;
}