/* */



/* Structure CSS*/





    /* Game-On Screen */

        .gameOn-screen{

        }

        .gameStatusRow{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-around;
            padding: 0 2%;
        }

            .timeLine{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
            }

            .timeLeft{
                margin-left: 2%;
            }

            .opponentStatus{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
                align-items: center;
            }

            .players{

            }

            .vs{
                margin: 0 10%;
            }

        .rpsButtonRow{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            text-align: center;
        }

            .rpsStatusRow{

            }

            .rpsSelection{
                position: relative;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                text-align: center;
                justify-items: center;
                align-items: center;
                margin: 1%;
                min-width: 30%;
            }

            .rpsImg{
                max-width: 100%;
                margin: auto;
            }

            .rpsSelTitle{
                position: absolute;
                z-index: 2;
                background: black;
                color: white;
                padding: 1% 5%;
                margin: 0 auto;
                bottom: 15px;
                border-radius: 15px;
            }

        .end-screen{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-around;
            text-align: center;
        }

            .endTitle{

            }

            .endRow{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                text-align: center;
            }

            .pPlayAgainStatus{

            }

            .playAgainBtn{

            }

            .oPlayAgainStatus{

            }

    /* Chat */
    .chatRow{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        padding: 1rem;
        min-width: 100%;
        margin: 1rem auto;
    }

        .chatTitle{

        }

        .chatLog{

        }

        .chatBox{

        }

        .sayBtn{

        }
