/* */



/* Structure CSS*/

    .body-container {
        background: rgb(15, 15, 15);
        color: whitesmoke;
    }

    .whole-screen {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .uniBtn{

    }

/* Navbar */

    .navBar{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        background: black;
        max-width: 100%;
        padding: .5rem 2rem;
    }

    .myName{
        text-decoration: none;
        font-size: 1.5rem;
    }

    .navItems{
        display: flex;
    }

    .navObj{
        text-decoration: none;
        font-size: 1.5rem;
    }

    .nav-link{
        text-align: center;
    }
    
    .nav-link:link{
        color: white;
    }

    .nav-link:visited{
        color: rgb(198, 227, 253);
    }

    .nav-link:hover{
        color: rgb(4, 253, 253);
    }

    .nav-link:active{
        color: rgb(91, 91, 248);
    }

/* Main Content */

    .main-screen{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    /* Content Header*/
        .gameHead{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            text-align: center;
        }

        .titleDiv{
            min-width: 20%;
        }

            .gameTitle{

            }

            .gameSubTitle{
            }

        .win-loss-div{
            
        }

            .win-loss-anouncement{
                
            }

        .winsANDlosses{

        }

        .winsDiv{
            min-width: 20%;
        }

            .winsDisplay{

            }

        .lossesDiv{
            min-width: 20%;
        }

        .lossesDisplay{
                
        }

    /* Game-On Screen */

        .ready-screen{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-around;
        }

            .readyTitle{
                text-align: center;
            }

            .readyText{
                text-align: center;
            }

            .readyForm{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                padding: 0 2%;
            }

            .startPlayBtn{

            }


    /* Game-On Screen */
    
        .gameRow{

        }

        .intro-screen{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-around;

        }

            .instructionTitle{
                text-align: center;
            }

            .instructionText{
                text-align: center;
            }

            .playForm{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                padding: 0 2%;
            }

            .playerNameInput{
                text-align: center;
                left: 0;
                right: 0;
                min-width: 40%;
            }

            .pNameBtn{

            }


        .gameOn-screen{

        }

        .gameStatusRow{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-around;
            padding: 0 2%;
        }

            .timeLine{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
            }

            .timeLeft{
                margin-left: 2%;
            }

            .opponentStatus{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
                align-items: center;
            }

            .players{

            }

            .vs{
                margin: 0 10%;
            }

        .rpsButtonRow{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            text-align: center;
        }

            .rpsStatusRow{

            }

            .rpsSelection{
                position: relative;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                text-align: center;
                justify-items: center;
                align-items: center;
                margin: 1%;
                min-width: 30%;
            }

            .rpsImg{
                max-width: 100%;
                margin: auto;
            }

            .rpsSelTitle{
                position: absolute;
                z-index: 2;
                background: black;
                color: white;
                padding: 1% 5%;
                margin: 0 auto;
                bottom: 15px;
                border-radius: 15px;
            }

        .end-screen{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-around;
            text-align: center;
        }

            .endTitle{

            }

            .endRow{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                text-align: center;
            }

            .pPlayAgainStatus{

            }

            .playAgainBtn{

            }

            .oPlayAgainStatus{

            }

    /* Chat */
    .chatRow{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        padding: 1rem;
        min-width: 100%;
        margin: 1rem auto;
    }

        .chatTitle{

        }

        .chatLog{

        }

        .chatBox{

        }

        .sayBtn{

        }
